/* COLORS */
/* CSS HEX */
:root {
  --red: #ad343eff; /* cardinal */
  --gray: #474747ff; /* davys-grey */
  --yellow: #f2af29ff; /*honey-yellow */
  --black: #000000ff;
  --light: #e0e0ceff; /* eggshell */
}

/* RESET */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* LAYOUT */
.current_user_display {
  color: var(--black);
}

body {
  background-color: var(--light);
  color: white;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

/* IMAGES */
.logo {
  height: 100px;
  width: 100px;
}

/* HEADER */
.main-nav {
  justify-content: space-between;
}
.left-nav-links div {
  height: 100px;
  /* border: 2px solid var(--black); */
  margin: 0 5px;
}

.right-nav a,
.left-nav-links a {
  background-color: var(--red);
  border: 2px solid var(--black);
  text-align: center;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  margin: 2px;
}

.right-nav a:hover,
.left-nav-links a:hover {
  background-color: var(--yellow);
  color: var(--black);
}

/* PLACEHOLDER INPUT TEXT */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.5; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

/* TABLES */

thead {color:green;}
tbody {color:blue;}
tfoot {color:red;}

table, th, td {
  border: 1px solid black;
}
td, th{
  padding: 5px;
}

/* BUTTONS */

.submit-btn {
  background-color: var(--red);
  border: 2px solid var(--black);
  text-align: center;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.submit-btn:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.new-response-option-submit-btn,
.new-question-submit-btn {
  padding: 5px;
}

/* INPUTS */

.input-text {
  border: 2px var(--red) solid;
  color: white;
}

.new-response-option-input {
  color: var(--black);
}

.new-response-option-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--black);
  opacity: 0.5; /* Firefox */
}

.new-response-option-input,
.new-question-title-input {
  margin: 0 5px;
}

/* USER AUTH */
.auth-display,
.new-poll-display {
  border: none;
  border-radius: 8px;
  width: 275px;
  margin: 20px auto;
  background-color: var(--gray);
}

.auth-display > *,
.new-poll-display > * {
  padding: 5px;
  margin: 5px;

}

.auth-input-form > *,
.new-poll-form > * {
  padding: 5px;
  margin: 5px;
}

.auth-display-title.
.new-poll-title {
  border: none;
  color: white;
  font-size: 24px;
}

/* @media all and (max-width: 400) {
 [class*='auth-'] {
   width: 100%;
 }
} */

/* POLL DISPLAY */
/* RESPONSE DISPLAY */

.poll-display,
.response-display {
  border: none;
  border-radius: 8px;
  width: 70%;
  margin: 20px auto;
  background-color: var(--gray);
  color: var(--white);
  padding: 10px;
}

.poll-display > *,
.response-display > * {
  /* padding: 5px; */
  margin: 5px;
}

.response-options-container {
  margin: 8px;
  padding: 8px;
  text-align: left;
}

.ol-lower-alpha {
  list-style-type: lower-alpha;
}

.response-option-li {
  margin: 4px 0;
  padding: 2px;
}

.response-option-li:hover {
  background-color: var(--gray);
  color: var(--yellow);
}

.poll-header,
.question-display-li {
  background-color: var(--light);
  color: var(--black);
  border-radius: 4px;
}

.question-title,
label.response-option {
  margin: 8px;
  padding: 8px;
}

.question-display-li {
  text-align: center;
  /* margin: 10px 0; */
}

.poll-header {
  text-align: center;
  padding: 5px 0;
}

.poll-title {
  border: none;
  font-size: 24px;
}

.poll-author {
  font-style: italic;
}

.poll-description {
  margin: 8px;
}

.radio-container input[type="radio"] {
  display: inline;
  margin: 2px;
}

.radio-container label {
  display: block;
  padding: 2px;
}

li.selected {
  border: 2px solid green;
}
